# Environment
.env

# Rust
target/
Cargo.lock

# macOS
.DS_Store

# Virtual Environments
.venv_obl/
__pycache__/

# AI Logs & Core DB
motor_cortex/*
!motor_cortex/.gitkeep
sensory_cortex/*
!sensory_cortex/.gitkeep
*.log
